@use "../styles/mixins.scss";

.apartment-details {
	width: 100%;
	font-family: "montserrat";
	gap: 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.tags {
	display: flex;
	flex-direction: row;
	gap: 20px;

	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.tag-item {
	background-color: #ff6060;
	border-radius: 30px;
	padding: 6px 22px;
	color: white;
	font-size: 0.8rem;
}
.apartment-info {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.apartment-info h1 {
	font-size: 30px;
	font-weight: 400;
	color: #ff6060;
}

.apartment-info h2 {
	font-weight: 200;
}
.apartment-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.host-rating {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.rating svg {
	width: 24px;
	height: 24px;
	color: #ff6060;
}
.host-picture {
	border-radius: 50%;
	object-fit: cover;
}
.description-container {
	width: 100%;
	display: flex;
	gap: 20px; /* ✅ Espace entre les deux blocs */
	justify-content: space-between;
	align-items: flex-start; /* important pour éviter les décalages verticaux */
	flex-wrap: wrap; /* ✅ pour que ça passe en colonne sur petit écran */
}

.description,
.equipement {
	flex: 1; /* ✅ chaque bloc prend 50% de l’espace */
	min-width: 300px; /* ✅ évite que ça casse trop tôt */
	display: flex;
	flex-direction: column;
}

.Collapse {
	width: 100%;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 768px) {
	.apartment-details {
		gap: 2px;
	}

	.apartment-header {
		display: flex;
		flex-direction: column;

		justify-content: space-between;
	}
	.apartment-info {
		display: flex;
		flex-direction: column;
		gap: 1px;
	}

	.tags {
		display: flex;
		flex-wrap: wrap; // 🔁 Permet aux éléments de passer à la ligne
		gap: 0.5rem; // 🧘‍♂️ Petit espace entre les tags
	}
	.host-rating {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
	}
	.host {
		display: flex;
		flex-direction: row;
		gap: 10px;
	}

	.host-picture {
		width: 50px;
		height: 50px;
	}
}
