@use "../styles/mixins.scss";
.apartment-details {
	width: 100%;
	font-family: montserrat;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.img-appart {
	width: 100%; /* Prend toute la largeur du conteneur */
	height: 400px; /* Ajuste la hauteur automatiquement pour garder les proportions */
	object-fit: cover; /* Optionnel, utile si tu veux recadrer un peu sans déformation */
}
