.banner-home {
	position: relative;
	width: 100%;

	height: 190px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 25px;

	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	// Overlay sombre
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 0;
	}
}

.banner-text {
	position: relative;
	color: white;
	z-index: 1;
	font-size: 40px;
	text-align: center;
	font-family: montserrat;
}
@media screen and (max-width: 768px) {
	.banner-home {
		width: 80vw; // largeur fluide sur petit écran
		height: clamp(150px, 25vw, 190px); // hauteur fluide
		border-radius: 15px;
		margin: 30px auto 20px;
	}

	.banner-text {
		font-size: clamp(20px, 5vw, 32px); // texte qui reste lisible et fluide
	}
}
