.banner {
	height: 80px;
	background-size: cover;
	background-position: center;
	border-radius: 1rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	.banner-text {
		color: white;
		font-size: 2rem;
		text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
	}
}
