.footer {
	width: 100%;
	font-family: montserrat;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #000;
	color: white;
	padding-right: 0px;
	margin-top: 30px;
}

.logoF {
	padding-top: 20px;
	margin-left: 20px; /* un petit espacement */
}
