.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; /* ou space-between, selon ce que tu veux */
	background-color: #000;
	color: white;
	padding: 20px;
}

.logoF {
	padding-top: 20px;
	margin-left: 20px; /* un petit espacement */
}
