.main-content {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.cards-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr); // 3 colonnes égales
	gap: 60px; // espace entre les cartes
	background-color: #f6f6f6;
	border-radius: 25px;
	padding-top: 20px;
	padding-bottom: 50px;
}

.card-wrapper {
	display: flex;
	width: 100%;
	height: 340px;

	overflow: hidden;
	font-size: 14px;
	animation: fadeIn 0.5s ease;
}

.card-wrapper {
	animation: fadeIn 0.5s ease;
}
@media (max-width: 768px) {
	.cards-container {
		display: flex;
		flex-direction: column;
		padding: 1rem;
	}
}
