*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-family: "Montserrat", sans-serif;
	line-height: 143%;
	font-weight: 500;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
a {
	font-family: Montserrat;
	font-weight: 500;
	color: blue;
	text-decoration: inherit;
}
a:hover {
	color: blue;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: black;
	}
	button {
		background-color: #f9f9f9;
	}
}
