.layout {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;

	.main-content {
		display: flex;
	}

	&.page-home {
		width: 100%;
		height: auto;
	}

	&.page-about {
		width: 100%;
		height: auto;
	}
}

// Responsive : mobile / tablette
@media (max-width: 1024px) {
	.main-content {
		flex-direction: column;
		padding: 1.5rem;
	}
}

@media (max-width: 768px) {
	.main-content {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
