.layout {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;

	.main-content {
		flex: 1;
		padding: 30px;
	}

	&.page-home {
		width: 100%;
		height: auto;
	}

	&.page-about {
		width: 100%;
		height: auto;
	}
}
