// en dehors de tout mixin
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-5px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

// Mixin plus simple
@mixin fadeIn($duration: 0.3s) {
	animation: fadeIn $duration ease-in;
}

@mixin flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
