@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
}

.navbar-logoH {
	height: 50px;
	object-fit: contain;
}

.navbar-links {
	display: flex;
	gap: 50px;
}

.navbar-links a {
	text-decoration: none;
	color: black;
	font-weight: 500;
}

.navbar-links a.active-link {
	text-decoration: underline;
}

.navbar-links a:hover {
	text-decoration: underline;
}
